body
{
margin:0;
padding:0;
font-family:arial,sans-serif;
color:#666;
background-image:url("rand-rechts.png");
background-repeat:repeat-y;
background-position:right;
background-attachment:fixed;
}
a
{
font-size:inherit;
color:inherit;
text-decoration:inherit;
font-weight:bold;
}
/*-------------------Navigationsleiste------------------------------------------------------------------------------------*/
div.header
{
z-index:1;
position:absolute;
position:fixed;
top:0;
left:0;
width:227px;
height:100%;
display:block;
padding:0;
background-image:url("header.png");
background-repeat:repeat-y;
background-position:right;
}
h1
{
height:170px;
font-size:1px;
color:white;
background-image:url("logo.png");
background-position:5px 10px;
background-repeat:no-repeat;
padding:0;
margin:0;
}
ul.navigation
{
margin-left:20px;
margin-right:66px;
width:117px;
padding:0;
}
ul.navigation br
{
display:none;
}
ul.navigation li
{
text-align:center;
padding:0;
font-size:8px;
color:#444;
list-style-type:none;
margin:0;
border-width:1px;
border-color:#666;
border-style:none solid solid;
background-image:url("libg.png");
background-repeat:repeat-x;
}
ul.navigation li:first-child
{
border-style:solid;
}
ul.navigation li a
{
display:block;
padding:0;
min-height:20px;
max-height:40px;
}
ul.navigation li strong
{
padding:2px;
display:block;
font-size:13px;
color:#666;
}
ul.navigation li em
{
font-size:10px;
}
div.help
{
display:none;
}
/*-----------------------Hauptteil----------------------------------------------------------------------------------------*/
div.content
{
z-index:2;
margin:0 16px 0 203px;
padding:30px;
}
div.content table td,
div.content table th
{
border-color:#aaa;
border-style:solid;
border-width:1px;
padding:2px;
background-color:#EEE;
text-align:left;
}
h2
{
text-transform:uppercase;
border:#ccc 1px solid;
background-color:#eee;
}
h3
{
text-decoration:underline;
}
div.content > div
{
border-color:#eee;
border-style:solid;
border-width:1px;
background-color:#f8f8f8;
margin:10px 0;
padding:5px;
}
#public-login-extended-options:not(:target) {
display:none;
}
/*-----------------------Zeitangaben--------------------------------------------------------------------------------------*/
div#generation-time
{
display:none;
position:absolute;
position:fixed;
bottom:0;
left:0;
width:195px;
font-size:12px;
}
div#server-time
{
display:none;
position:absolute;
position:fixed;
bottom:12px;
left:0;
width:195px;
font-size:12px;
}
