*
{
font-family:courier new,courier,monospace;
font-size:16pt;
font-weight:bold;
}
body
{
padding:0;
margin:23px 0 0;
background-color:black;
color:silver;
}
h1
{
text-align:center;
text-decoration:inherit;
}
h2,h3,h4
{
text-align:left;
text-decoration:inherit;
}
h2
{
padding:0;
}
h3
{
padding:0 0 0 26px;
}
h4
{
padding:0 0 0 52px;
}
a
{
color:green;
text-decoration:inherit;
}
a:active,
a:hover
{
color:yellow;
}
p
{
padding:0 91px 0 39px;
text-align:justify;
}
li
{
margin:0 0 0 65px;
padding:0 0 0 13px;
list-style-image:url(stern.png)
}
div#generation-time,
div#server-time
{
padding:0 0 0 39px;
}
input[type="text"],
input[type="password"]
{
border-style:dashed;
border-color:green;
background-color:transparent;
color:green;
}
input[type="password"]:focus,
input[type="password"]:hover,
input[type="text"]:focus,
input[type="text"]:hover
{
border-color:yellow;
color:yellow;
}
textarea
{
background-color:transparent;
color:green;
border-style:dashed;
border-color:green;
}
textarea:hover,
textarea:focus
{
color:yellow;
border-color:yellow;
}
select
{
border-style:dashed;
border-color:green;
background-color:black;
color:green;
}
select:focus,
select:hover
{
border-color:yellow;
color:yellow;
}
select option
{
background-color:black;
border-style:dashed;
border-color:green;
border-width:1px;
}
input[type="submit"],
input[type="reset"],
input[type="button"]
{
border-style:dashed;
background-color:transparent;
color:green;
border-color:green;
}
input[type="submit"]:focus,
input[type="submit"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="button"]:focus,
input[type="button"]:hover
{
color:yellow;
border-color:yellow;
}
img
{
display:none;
}
tr.not-read td.title a
{
color:red;
}
tr.not-read td.title a:hover
{
color:yellow;
}
table
{
border-color:gray;
border-style:dashed;
margin:0 91px 0 39px;
}
th
{
color:gray;
text-align:left;
}
input[type="checkbox"]
{
color:green;
background-color:transparent;
border-color:green;
border-style:solid;
}
input[type="radio"]
{
background-color:transparent;
color:green;
border-color:green;
border-style:solid;
}